.button {
  all: unset;
}
.content {
  display: flex;
}

.poster {
  width: 60px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 4px;
}

.posterPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: var(--color-text-muted);
  background-color: var(--color-border);
  width: 60px;
  aspect-ratio: 2 / 3;
  border-radius: 4px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.title {
  color: var(--color-text);
}

.year {
  color: var(--color-text-muted);
}
