.star {
  background-color: transparent;
  border: transparent;
  font-size: 20px;
  padding: 2px;
}

.star[data-size="sm"] {
  font-size: 11px;
  padding: 0;
}

.star[data-filled="true"] {
  color: gold;
}

.star[data-filled="false"] {
  color: var(--color-bg);
  -webkit-text-stroke: 1px var(--color-text);
}
